<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<nav class="navbar navbar-light bg-light">
  <h3> Wikinimous </h3>

  <div class="blue-btn">
    <%=link_to new_article_path do %>
      <%= "New Article" %>
      <%= fa_icon "plus-square" %>
    <% end  %>
  </div>
</nav>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
